@import 'tailwindcss';
@import 'tw-animate-css';
@import 'theme.css';
@import 'transitions.css';

@plugin '@tailwindcss/forms';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../resources/js/**/*.vue';
@source '../../modules/*/resources/js/**/*.vue';

@custom-variant dark (&:is(.dark *, [data-theme="dark"] *));

@layer base {
    html {
        scroll-behavior: smooth;
    }
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
